{% extends 'base.html' %}

{% block body %}
<h1 class="form-title">{% if form.instance.pk %}Edit{% else %}Add{% endif %} Author</h1>
<form method="post" class="author-form">
    {% csrf_token %}
    <div class="form-group">
        <label for="id_author_name">Author Name</label>
        {{ form.author_name }}
    </div>
    <button type="submit" class="btn-submit">{% if form.instance.pk %}Save Changes{% else %}Add Author{% endif %}</button>
    <a href="{% url 'author_list' %}" class="cancel-link">Cancel</a>
</form>
{% endblock %}